@model IEnumerable<FamilyStudyProjectsViewModel>

@{
    ViewData["Title"]="Family Study Projects";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
    int i = 1;
}
<h3>@ViewData["Title"]</h3>


@if (Model == null)
{
    <div id="loading">Loading...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date Created</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td><a asp-controller="FamilyStudyProjects" asp-action="Edit" asp-route-id="@item.Id" class="nav-link">@i</a></td>
                    <td><a asp-controller="FamilyStudyProjects" asp-action="Edit" asp-route-id="@item.Id" class="nav-link">@item.FamilyStudyTitle</a></td>
                    <td><a asp-controller="FamilyStudyProjects" asp-action="Edit" asp-route-id="@item.Id" class="nav-link">@item.FamilyStudyDescription</a></td>
                    <td>@item.DateWhenCreated</td>
                </tr>
            </tbody>
            i++;
        }

    </table>
}

<br />
<br />
<a asp-action="Create"><input class="btn btn-primary" value="Create New Family Study Project"/></a>