@using static BibleStudyAidMVC.Extensions.NavigationindicatorHelper
@using Microsoft.AspNetCore.Identity


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">My Life</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      @if(User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Brian Wiggins</a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="info">
                    <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="d-block">Hi Visitor! Login Here</a>
                </div>
            </div>
        }


      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("home","index")" asp-controller="Home" asp-action="Index">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                        Home
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("dailybiblereading","index")" asp-controller="DailyBibleReading" asp-action="Index">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                         Daily Bible Reading
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("spiritualgems","index")" asp-controller="SpiritualGems" asp-action="Index">
                        <i class="nav-icon fas fa-gem"></i>
                        <p>
                         Spiritual Gems
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("familystudyprojects","index")" asp-controller="FamilyStudyProjects" asp-action="Index">
                        <i class="nav-icon fas fa-book-reader"></i>
                        <p>
                        Family Study Projects
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("meetingsassemblies","index")" asp-controller="MeetingsAssemblies" asp-action="Index">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                        Meetings and Assemblies
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("talks","index")" asp-controller="Talks" asp-action="Index">
                        <i class="nav-icon fas fa-podium"></i>
                        <p>
                        Talks
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("tags","index")" asp-controller="Tags" asp-action="Index">
                        <i class="nav-icon fas fa-tag"></i>
                        <p>
                        Tags
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("references","index")" asp-controller="References" asp-action="Index">
                        <i class="nav-icon fas fa-bookmark"></i>
                        <p>
                        References
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("scriptures","index")" asp-controller="Scriptures" asp-action="Index">
                        <i class="nav-icon fas fa-scroll"></i>
                        <p>
                        Key Scriptures
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("documents","index")" asp-controller="Documents" asp-action="Index">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                        Documents
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("worldmap","index")" asp-controller="WorldMap" asp-action="Index">
                        <i class="nav-icon fas fa-globe-americas"></i>
                        <p>
                        World Map
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("home","privacy")" asp-controller="Home" asp-action="Privacy">
                        <i class="nav-icon fas fa-lock"></i>
                        <p>
                        Privacy
                        </p>
                    </a>
                </li>
            }
            @if(User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a class="nav-link @Url.MakeActiveClass("simple","index")" asp-controller="Home" asp-action="Index">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                        Simple Link Example
                        </p>
                    </a>
                </li>
            }
            </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>