@page "/Test"
@inherits ScriptureSelectorBase
@*  *@

<h3>Scripture Selector</h3>


<h2>Selected Scripture: <strong>@citation.BibleBook @citation.BibleChapter: @citation.BibleVerse</strong></h2>
<br />
<br />
<EditForm OnValidSubmit="@SubmitScripture" Model="@Scritures">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Select Book</label>
    <SfAutoComplete @bind-Value="@_selectedBook" TItem="BookListMapping" TValue="string" DataSource="bibleBooks"
                    Placeholder="Select a book" Enabled=@enableSelectBook>
        <AutoCompleteEvents TItem="BookListMapping" TValue="string" ValueChange="OnSelectedBook"></AutoCompleteEvents>
        <AutoCompleteFieldSettings Text="Name" Value="Name">
        </AutoCompleteFieldSettings>
    </SfAutoComplete>
    <br />
    <br />
    <label>Select Chapter</label>
    <SfDropDownList @bind-Value="@_selectedChapter" TItem="SelectedChapter" TValue="int" DataSource="bibleChapters"
                    Placeholder="Select a Chapter" Enabled="@enableSelectChapter">
        <DropDownListEvents TItem="SelectedChapter" TValue="int" ValueChange="OnSelectedChapter"></DropDownListEvents>
        <DropDownListFieldSettings Text="ChapterNumber" Value="ChapterNumber">
        </DropDownListFieldSettings>
    </SfDropDownList>
    <br />
    <br />
    <label>Select Verse</label>
    <SfDropDownList @bind-Value="@_selectedVerse" TItem="SelectedVerse" TValue="int" DataSource="bibleVerses"
                    Placeholder="Select a Verse" Enabled="@enableSelectVerse">
        <DropDownListEvents TItem="SelectedVerse" TValue="int" ValueChange="OnSelectedVerse"></DropDownListEvents>
        <DropDownListFieldSettings Text="VerseNumber" Value="VerseNumber">
        </DropDownListFieldSettings>
    </SfDropDownList>
    <br />
    <br />
    <button type="Submit" class="btn btn-primary">Submit</button>
</EditForm>







