@page "/Test"
@inherits ScriptureSelectorBase
@*  *@

<h3>Scripture Selector</h3>


<h2>Selected Scripture: <strong>@scriptures.Book @scriptures.Chapter: @scriptures.Verse</strong></h2>
<br />
<br />
<EditForm OnValidSubmit="@SubmitScripture" Model="@scriptures">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label>Select Book</label>
    <input type="hidden" id="@scriptures.FKTableIdandName" name="ID" @bind-value="@scriptures.FKTableIdandName">
    <SfAutoComplete @bind-Value="@scriptures.Book" TItem="BookListMapping" TValue="string" DataSource="bibleBooks"
                    Placeholder="Select a book" Enabled=@enableSelectBook>
        <AutoCompleteEvents TItem="BookListMapping" TValue="string" ValueChange="OnSelectedBook"></AutoCompleteEvents>
        <AutoCompleteFieldSettings Text="Name" Value="Name">
        </AutoCompleteFieldSettings>
    </SfAutoComplete>
    <br />
    <br />
    <label>Select Chapter</label>
    <SfDropDownList @bind-Value="@scriptures.Chapter" TItem="SelectedChapter" TValue="string" DataSource="bibleChapters"
                    Placeholder="Select a Chapter" Enabled="@enableSelectChapter">
        <DropDownListEvents TItem="SelectedChapter" TValue="string" ValueChange="OnSelectedChapter"></DropDownListEvents>
        <DropDownListFieldSettings Text="ChapterNumber" Value="ChapterNumber">
        </DropDownListFieldSettings>
    </SfDropDownList>
    <br />
    <br />
    <label>Select Verse</label>
    <SfDropDownList @bind-Value="@scriptures.Verse" TItem="SelectedVerse" TValue="string" DataSource="bibleVerses"
                    Placeholder="Select a Verse" Enabled="@enableSelectVerse">
        <DropDownListEvents TItem="SelectedVerse" TValue="string" ValueChange="OnSelectedVerse"></DropDownListEvents>
        <DropDownListFieldSettings Text="VerseNumber" Value="VerseNumber">
        </DropDownListFieldSettings>
    </SfDropDownList>
    <br />
    <br />
    <button type="Submit" class="btn btn-primary">Save Scripture</button>
</EditForm>







