@model AllDashboardItemsViewModel
@using Syncfusion.EJ2;

@{
    ViewData["Title"]="Home Page";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<!-- Small Box (Stat cards) -->
        <h5 class="mb-2 mt-4">Main Tabs</h5>
        <div class="row">
          <div class="col-lg-3 col-6 col-xl-2">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>@Model.DailyBibleReadingList.Count</h3>

                <p>Daily Bible Reading</p>
              </div>
              <div class="icon">
                <i class="fas fa-book"></i>
              </div>
              <a asp-controller="DailyBibleReading" asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6 col-xl-2">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>@Model.SpiritualGemsList.Count</h3>

                <p>Spiritual Gems</p>
              </div>
              <div class="icon">
                <i class="fas fa-gem"></i>
              </div>
              <a asp-controller="SpiritualGems" asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6 col-xl-2">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>@Model.FamilyStudyProjectsList.Count</h3>

                <p>Family Study Projects</p>
              </div>
              <div class="icon">
                <i class="fas fa-book-reader"></i>
              </div>
              <a asp-controller="FamilyStudyProjects" asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6 col-xl-2">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>@Model.MeetingsAssembliesList.Count</h3>

                <p>Meetings And Assemblies</p>
              </div>
              <div class="icon">
                <i class="fas fa-users"></i>
              </div>
              <a asp-controller="MeetingsAssemblies" asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6 col-xl-2">
          <!-- small card -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3>@Model.TalksList.Count</h3>

                <p>Talks</p>
              </div>
              <div class="icon">
                <i class="fas fa-map"></i>
              </div>
              <a asp-controller="Talks" asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6 col-xl-2">
          <!-- small card -->
            <div class="small-box bg-light">
              <div class="inner">
                <h3>@Model.TagsList.Count</h3>

                <p>Tags</p>
              </div>
              <div class="icon">
                <i class="fas fa-tag"></i>
              </div>
              <a asp-controller="Tags" asp-action="Index" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->

@*CALENDAR CHART*@
<!--Bar Chart-->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">TimeLine</h5>
            </div>
            <div class="card-body">
                <div id="google-charts"></div>
              </div>
        </div>
    </div>
</div>

@*TABS BAR CHART*@
<!--Bar Chart-->
<div class="row">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="m-0">Tabs</h5>
            </div>
            <div class="card-body">
                  <div id="tabs-bar-chart"></div>
              </div>
        </div>
    </div>
</div>


<div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>

                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>

                <p class="card-text">
                  Some quick example text to build on the card title and make up the bulk of the card's
                  content.
                </p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="m-0">Featured</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Special title treatment</h6>

                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <div class="card card-primary card-outline">
              <div class="card-header">
                <h5 class="m-0">Featured</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Special title treatment</h6>

                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->

@section Scripts{
    <script>
        let getProjectChartData =@Json.Serialize(@Model);
    </script>
    <!--Google Charts-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!--Index.js-->
    <script src="~/js/Views/Home/Index.js"></script>

}