
@model DailyBibleReadingAllVM
@{
    ViewData["Title"]="Daily Bible Reading";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
@*SCRIPTURES*@
<div class="row">
    <div class="col-12 col-lg-4 card m-1">
        <div class="card-header border-primary">
            <h5>From</h5>
        </div>
        <div class="car-body">
            <h5>@Model.ScriptureStartPoint</h5>
        </div>
    </div>
    <div class="col-12 col-lg-4 card m-1">
        <div class="card-header border-primary">
            <h5>To</h5>
        </div>
        <div class="car-body">
            <h5>@Model.ScriptureEndPoint</h5>
        </div>
    </div>
</div>
@*LESSSONS LEARNED*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>Lessons Learned</h5>
        </div>
        <div class="card-body">
            <p>@Model.LessonLearnedDescription</p>
        </div>
    </div>
</div>

@*REFERENCES*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>References</h5>
        </div>
        <div class="card-body">
            @if(@Model.ReferencesList.Count>0)
            {
            
                    @foreach(var reference in @Model.ReferencesList)
                    {
                        <p><b>@reference.Reference</b></p>
                        <br />
                        <p>@reference.Description</p>
                    }
            
            }
            else
            {
                <p>NONE</p>
            }
        </div>
    </div>
</div>

@*DOCUMENTS*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>Documents</h5>
        </div>
        <div class="card-body">
            @if(@Model.DocumentsList.Count>0)
            {
            
                    @foreach(var doc in @Model.DocumentsList)
                    {
                        <a asp-controller="Documents" asp-action="Details" asp-route-id="@doc.Id">@doc.DocumentName</a>
                    }
            
            }
            else
            {
                <p>NONE</p>
            }
        </div>
    </div>
</div>

@*SCRIPTURAL REFERENCES*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>Scriptural References</h5>
        </div>
        <div class="card-body">
            @if(@Model.ScripturesList.Count>0)
            {
            
                    @foreach(var scripture in @Model.ScripturesList)
                    {
                        <a asp-controller="Scriptures" asp-action="Details" asp-route-id="@scripture.Id">@scripture.Scripture</a>
                    }
            
            }
            else
            {
                <p>NONE</p>
            }
        </div>
    </div>
</div>

@*TEXT READ*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>Scriptural Text</h5>
        </div>
        <div class="card-body">
            <p>@Model.BibleText</p>
        </div>
    </div>
</div>


