@model DailyBibleReadingAllViewModel
@{
    ViewData["Title"]="Daily Bible Reading";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

@*Styles*@
@section Styles{
    <link  rel="stylesheet" href="~/css/Views/DailyBibleReading/EditDailyBibleReading.css"/>
}


@*REFERENCES*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>References</h5>
        </div>
        <div class="card-body">
            @if(@Model.ReferencesList.Count==0)
            {
                <p>NONE</p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Reference
                            </th>
                            <th>Reference Description</th>
                            <th>
                                Edits
                            </th>
                        </tr>
                    </thead>
                    <tbody id="referenceTableEdits">
                        @foreach(var reference in @Model.ReferencesList)
                        {
                            <tr>
                                <td id="referenceText">@reference.Reference</td>
                                <td>@reference.Description</td>
                                <td>
                                    <i class="fas fa-edit nav-icon" data-toggle="modal" data-target="#referenceModal" data-id="@reference.Id" reference-FK="@reference.FKTableIdandName"></i>|
                                    <i class="fas fa-plus-square nav-icon" data-toggle="modal" data-target="#referenceNewModal" reference-FK="@reference.FKTableIdandName"></i>|
                                    <a asp-controller="References" asp-action="Delete" asp-route-id="@reference.Id">
                                        <i class="fas fa-trash-alt nav-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@*SCRIPTURAL REFERENCES*@
<div class="row">
    <div class="col-11 card m-1">
        <div class="card-header border-primary">
            <h5>Scriptural References</h5>
        </div>
        <div class="card-body">
            @if(@Model.ScripturesList.Count==0)
            {
                <p>NONE</p>   
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Scripture</th>
                            <th>Scripture Point</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var scripture in @Model.ScripturesList)
                        {
                            <tr data-toggle="modal" data-target="#scriptureModal" data-id="@scripture.Id">
                                <td>@scripture.Scripture</td>
                                <td>@scripture.Description</td>
                                <td>
                                    <a asp-controller="Scriptures" asp-action="Edit" asp-route-id="@scripture.Id">
                                        <i class="fas fa-edit nav-icon"></i>
                                    </a> |
                                    <a asp-controller="Scriptures" asp-action="Create" asp-route-id="@scripture.Id">
                                        <i class="fas fa-plus-square nav-icon"></i>
                                    </a> |
                                    <a asp-controller="Scriptures" asp-action="Delete" asp-route-id="@scripture.Id">
                                        <i class="fas fa-trash-alt nav-icon"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>     
            }
        </div>
    </div>
</div>

@*MODAL LIST*@

@*REFERENCES MODAL*@

<!--Edit Reference Modal-->
<div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Edit Reference</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form asp-controller="References" asp-action="Edit" method="post">
            <input type="hidden" id="referenceFKId" name="FKTableIdandName" />
            <input type="hidden" id="referenceId" name="Id">
            <div class="form-group">
                <label for="referenceCitation">References</label>
                <input type="text"  name="Reference" class="form-control" id="referenceCitation" aria-describedby="referenceCitation">
            </div>
            <div class="form-group">
                <label for="referenceDescription">Description</label>
                <textarea type="text" class="form-control" name="Description" id="referenceDescription"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--New Reference Modal-->
<div class="modal fade" id="referenceNewModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabelNew">Create Reference</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form asp-controller="References" asp-action="Create" method="post">
            <input type="hidden" id="referenceNewFKId" name="FKTableIdandName" />
            <div class="form-group">
                <label for="referenceCitation">References</label>
                <input type="text"  name="Reference" class="form-control" id="referenceNewCitation" aria-describedby="referenceCitation">
            </div>
            <div class="form-group">
                <label for="referenceDescription">Description</label>
                <textarea type="text" class="form-control" name="Description" id="referenceNewDescription"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--Soft Delete-->



@*Scripture Modal*@


@*Scripts Section*@
@section Scripts{
    <script src="~/js/Views/DailyBibleReading/EditDailyBibleReading.js"></script>
}
