<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<!--
//Add this for authentication
    //Image not working
            <Authorizing>
                <img src="~/gifs/horsierun.gif" />
                <text>Authorizing...</text>
            </Authorizing>

//To be wrapped below not found
 <CascadingAuthenticationState></CascadingAuthenticationState>

-->
